<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GERDAU</title>
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
</head>
<body>
   <center> <h2> PLANEJAMENTO DE TRAJETÓRIA </h2> </center>
    <input type="file" id="image-input" accept="image/*" />
    <canvas id="canvas" width="800" height="600"></canvas>
    <button id="save-button">SALVAR TRAJETO</button>
    <button id="reset-button">LIMPAR</button>
    <button id="hide-image-button">APAGAR IMAGEM</button>
    <button id="load-button">MOSTRAR TRAJETÓRIA</button>
    <script src="/static/script/script.js"></script>
</body>
</html>